/* If you ever implement Less, here are some standard things:
 - content colour: #EEEEEE;



 - Header: #3D9AD1;
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,700,400);

html {
    height: 100%; 
    margin: 0px; 
    padding: 0px;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #3D9AD1;
    -webkit-appearance:none;
    font-family: 'Open Sans', sans-serif;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.clear {
    clear: both;
}
.center {
    width: 100%;
    text-align: center;
    position: relative;
}
.centered-content {
    position: relative;
    min-width: 350px;
    max-width: 800px;
    padding: 30px;

    margin: auto;
}
.bottom-right {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 500;
}

/* CSS Reset (kind of) */
h1 {
    margin: 0px;
    font-weight: 300;
}

/* Overarching UI */

.o-site-container {
    position: relative;
    min-height: 100%;
    background-color: #DDD;
}

.o-site-header {
    position: relative;
    background-color: #3D9AD1;
    height: 70px;
    z-index: 100;
}

.o-site-content {
    position: relative;
}

.o-site-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -100px;
    height: 100px;
    background-color: #3D9AD1;
    box-sizing: border-box;
    padding: 40px;
    color: #EEEEEE;
    z-index: 100;
}

/* Circle Button */
.o-circle-button {
    width: 100px;
    height: 100px;
    background-color: #64A8D1;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #000000;
    transition: all 0.15s ease-in;
}
.o-circle-button:hover {
    color: #EEEEEE;
    background-color: #03436A;
}

/* Header */
.o-site-header h1 {
    line-height:70px;
    height:70px;
    margin-left: 15px;
    color: #EEEEEE;
    text-decoration: none;
}

.o-site-header .logo {
    position: relative;
    height: 100%;
    float: left;
}

.o-site-header .nav {
    height: 100%;
    float: right;
    right: 0px;
    overflow: visible;
}

.o-site-header .nav .o-circle-button {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -15px;
    cursor: pointer;
}

/* Home */
.home-splash {
    background-image: url('/public/images/background.jpg');
    width: 100%;
    height: 600px;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
}
.home-splash h1, .home-splash h3 {
    color: #111111;
    text-shadow: 0px 0px 30px #FFFFFF;
}
.home-splash a {
    text-decoration: underline;
    color: #111155;
}
.home-splash h1 {
    font-size: 75px;

}

/* Resume */
.resume-container {
    width: 100%;
    position: relative;
    height: 1035px;
}
.resume-object {
    position:absolute;
    left:50%;
    margin-left:-400px;
    width:800px;
    height:1035px;
}








