/* If you ever implement Less, here are some standard things:
 - Site header colours: #444444
 - content colour: #EEEEEE;
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,700,400);

html {
    height: 100%; 
    margin: 0px; 
    padding: 0px;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #444444;
    -webkit-appearance:none;
    font-family: 'Open Sans', sans-serif;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.clear {
    clear: both;
}
.center {
    width: 100%;
    text-align: center;
    position: relative;
}
.centered-content {
    position: relative;
    min-width: 350px;
    max-width: 800px;
    margin: auto;
}

/* CSS Reset (kind of) */
h1 {
    margin: 0px;
    font-weight: 300;
}
p {
    margin: 0px;
}

/* Overarching UI */

.o-site-container {
    position: relative;
    min-height: 100%;
    background-color: #EEEEEE;
}

.o-site-header {
    position: relative;
    background-color: #444444;
    height: 70px;
}

.o-site-content {
    position: relative;
}

.o-site-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -200px;
    height: 200px;
    background-color: #444444;
}

/* Circle Button */
.o-circle-button {
    width: 100px;
    height: 100px;
    background-color: #666666;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #000000;
    transition: all 0.25s ease-in;
}
.o-circle-button:hover {
    color: #EEEEEE;
    background-color: #333333;
}

/* Header */
.o-site-header h1 {
    line-height:70px;
    height:70px;
    margin-left: 15px;
    color: #EEEEEE;
    text-decoration: none;
}

.o-site-header .logo {
    position: relative;
    height: 100%;
    float: left;
}

.o-site-header .nav {
    height: 100%;
    float: right;
    right: 0px;
    overflow: hidden;
}

.o-site-header .nav .o-circle-button {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    height: 150px;
    width: 150px;
    margin-top: -40px;
}

/* Home */
.home-splash {
    background-image: url('/public/images/background.jpg');
    width: 100%;
    height: 600px;
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
}
.home-splash h1, .home-splash h3 {
    color: #111111;
    text-shadow: 0px 0px 30px #FFFFFF;
}
.home-splash a {
    text-decoration: underline;
    color: #111155;
}
.home-splash h1 {
    font-size: 75px;

}


.hometransition-enter {
    opacity: 0;
}
.hometransition-enter.hometransition-enter-active {
    opacity: 1;
    transition: all .5s ease-in;
}
.hometransition-leave {
    opacity: 1;
}
.hometransition-leave.hometransition-leave-active {
    opacity: 0.01;
    transition: all .5s ease-in;
}










